.s-importation{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    .container{
        display: flex;
        align-items: center;
        .login{
            h2{
                color: #fff;
            }
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 400px;
            background:#7678ed;
            box-shadow: 2px 2px 10px #000000;
            border-radius: 4px;
            &{
                opacity: 1;
            }
            .inputs{
                display:flex;
                justify-content: center;
                align-items: center;
                .inputs-importacao, .inputs-impostos{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .input{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 1px 1px 10px #585996;
                        margin: 10px;
                        width: 80%;
                        input{
                            width: 100%;
                            align-items: center;
                            height: 30px;
                            text-indent: 4px;
                            border-radius: 4px;
                        }
                    }
                }

                .inputs-impostos{
                 &{
                    margin-top: -50px;
                 }
                }
            }
            .btn-login{
                width: 60%;
                button{
                    width: 100%;
                    background: #06d6a0;
                    border-radius: 4px;
                    color: #fff;
                    line-height: 23px;
                }
            }
            .text-n-conta{
                margin: 10px;
                a{
                    h5{
                        color: #fff;
                    }
                }
            }
        }
    }
}